@media screen and (max-aspect-ratio: 1/1) {
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .active_button_form {
    background-color: white;
    color: black;
  }

  .hidden {
    display: none;
  }

  .desktop {
    display: none;
  }

  .track_button.active {
    border-color: white;
  }

  .body {
    overflow-x: hidden;
    font-family: 'Gilroy', serif;
    background-color: #0D0C10;
    scroll-behavior: smooth;
    cursor: default;
  }

  /* Отключаем прокрутку */
  body.loading {
    overflow: hidden;
  }

  /* Экран загрузки */
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    overflow: hidden; /* Отключение скроллинга */
  }

  #preloader img {
    position: relative;
    width: 150px; /* Настроить размер изображения */
    height: 150px;
    mask-image: linear-gradient(
      45deg,
      rgb(255, 114, 0) 25%,
      rgb(222, 0, 116) 50%,
      rgb(143, 0, 204) 75%
    );
    mask-size: 200%;
    -webkit-mask-size: 200%;
    animation: gradient-blick 2s infinite linear;
    -webkit-animation: gradient-blick 2s infinite linear;
  }

  @keyframes gradient-blick {
    0% {
      mask-position: -100% -100%;
      -webkit-mask-position: -100% -100%;
    }
    100% {
      mask-position: 100% 100%;
      -webkit-mask-position: 100% 100%;
    }
  }

  .canvas {
    display: block;
    width: 20%;
    height: auto;
  }

  a, a:hover, a:visited {
    color: white;
    text-decoration: none;
  }
  .disable-selection {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }

  .container {
    position: absolute; /* Выход из потока */
    top: calc(0 / 1920 * 100vw);
    left: 0;
    width: 20%;
    z-index: -1; /* Помещаем на задний план */
    margin: 0; /* Убираем возможные отступы */
  }

  .first_screen, .second_screen, .third_screen,
  .fourth_screen, .fifth_screen, .sixth_screen, .seventh_screen {
    display: flex;
    width: calc(498 / 498 * 100vw);
    height: calc(1080 / 498 * 100vw);
    position: relative;
    padding: calc(30 / 498 * 100vw);
    background-color: #0D0C10;
  }

  .first_screen {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .title {
    font-family: 'Gilroy', arial, serif;
    color: white;
    font-size: calc(115 / 498 * 100vw);
    position: relative;
    text-align: left;
    font-weight: 700;
  }

  .sub_title {
    font-family: 'Gilroy', arial, serif;
    color: white;
    font-size: calc(36 / 498 * 100vw);
    position: relative;
    margin: calc(-45 / 498 * 100vw) calc(0 / 498 * 100vw);
    text-align: right;
    font-weight: 500;
  }
}
